.container{
    padding: 0 14px;
    color: #FFF;
    margin-top:42px
}

.center{
    text-align: center;
    margin-bottom: 14px
}

.content{
    max-width:420px;
    background-color: #000;
    margin: 24px auto;
    padding: 24px;
    border-radius: 8px;
}

.content p:not(last-of-type){
    margin-bottom: 14px
}

.content p {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.tdProfit{
    color: #12d98a;
}

.tdLoss{
    color: #ff0000;
}